{% extends 'Profile/base.html' %}
{% load static %}

{% block title %} Change Password {% endblock %}

{% block content %}
<br />
<h1 class="text-center">Change Password</h1>
<br /><br /><br />


<form method="post" id="Form">

    {% csrf_token %}

    <div class="form-row">
        
        <div class="col-md-8 mb-3">
            <input type="password" class="form-control" id="old_password" name="old_password"
                placeholder="Enter Your Old Password" required autocomplete="">
            <small style="color: #dc3545;" id="old-password-errors">
                {{ form.old_password.errors }}
            </small>
        </div>
    
    </div>

    <div class="form-row">
        
        <div class="col-md-8 mb-3">
            <input type="password" class="form-control" id="password" name="password"
                placeholder="Enter Your New Password" required autocomplete="">
            <small style="color: #dc3545;" id="password-errors">
                {{ form.password.errors }}
            </small>
        </div>
    
    </div>

    <div class="form-row">
        
        <div class="col-md-8 mb-3">
            <input type="password" class="form-control" id="con-password" name="con-password"
                placeholder="Confirm Your Password" required autocomplete="">
            <small style="color: #dc3545;" id="con-password-errors"></small>
        </div>
    
    </div>
    
    <br />

    <button class="col-md-4 btn btn-success" type="submit">Change</button>

</form>

{% endblock %}


{% block scripts %}
<script src="{% static 'Profile/javascript/password.js' %}"></script>
{% endblock %}
