{% extends 'Profile/base.html' %}


{% block content %}

<br />

<h1 class="text-center">Settings</h1>

<br /><br />

<form method="post" id="Form">
    
    {% csrf_token %}
    
    <h4>Deactivate Your Account</h4>

    <div class="col-md-8 mb-3">
        <div class="form-group">
            <input type="text" class="form-control" name="username" id="username"
                placeholder="Please Enter Your Username" required value="{{ form.username.value|default:'' }}">
            <ul style="color: red;">
                {{ form.username.errors }}
            </ul>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password"
                placeholder="Please Enter Your Password" required>
            <ul style="color: red;">
                {{ form.password.errors }}
            </ul>
        </div>
        <button type="submit" class="btn btn-danger">Deactivate</button>
    </div>
</form>

{% endblock %}
