{% extends 'Auth/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Auth/css/signup.css' %}">
{% endblock %}

{% block content %}

<form class="form-signin" id="Form" method="post">

	{% csrf_token %}
	
	<img class="mb-4" src="{% static 'Auth/images/Logo.png' %}" alt="" width="72" height="72">
	<h1 class="h3 mb-3 font-weight-normal">Please Login</h1>

	{% if request.flash_message.exists.success_reset_password %}
		<div class="alert alert-success" role="alert">
			{{ request.flash_message.success_reset_password }}
		</div>
	{% endif %}
	
	<br />
	
	<div class="mb-3">
		<input type="text" class="form-control" id="username" name="username" placeholder="account username"
			value="{{ form.username.value|default:'' }}" required>
		<div class="mb-2" style="color: #992c2c;font-size: 80%;" id="username-errors">
		  {{ form.username.errors }}
		</div>
	</div>

	<div class="mb-3">
		<input type="password" class="form-control" id="password" name="password" placeholder="account password" autocomplete="" required>
		<div class="mb-4" style="color: #992c2c;" id="password-errors">
		  {{ form.password.errors }}
		</div>
	</div>
	<a class="mt-5 mb-3" href="{% url 'Auth:Guest-Login' %}">Login As Guest</a> <br />

	<a class="mt-5 mb-3" href="{% url 'Auth:Forget-Password' %}">Forget Password</a> <br />

	<button class="btn btn-lg btn-success btn-block" type="submit">Login</button>

	<p class="mt-5 mb-3 text-muted">Don't Have An Account? <a href="{% url 'Auth:Signup' %}">Create Account</a></p>

</form>

{% endblock %}


{% block scripts %}
<script src="{% static 'Auth/javascript/login.js' %}"></script>
{% endblock %}
