{% extends 'Auth/base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Auth/css/signup.css' %}">
{% endblock %}

{% block content %}
<form class="form-signin" id="Form" method="post">

	{% csrf_token %}
	
	<img class="mb-4" src="{% static 'Auth/images/Logo.png' %}" alt="" width="72" height="72">
	<h1 class="h3 mb-3 font-weight-normal">Reset Your Password</h1>

	{% if token is None %}
		<div class="alert alert-danger" role="alert">
			Token Invalid, Expired Or User is Not Active
		</div>
	{% endif %}
	
	<br />

	<div class="mb-3">
		<input type="password" class="form-control" id="password" name="password" placeholder="account password" autocomplete="" required>
		<div class="mb-4" style="color: #992c2c;" id="password-errors">
		  {{ form.password.errors }}
		</div>
	</div>

	<div class="mb-3">
		<input type="password" class="form-control" id="con-password" placeholder="confirm password" required autocomplete="">
		<div class="mb-4" style="color: #992c2c;" id="con-password-errors"></div>
	</div>

	<button class="btn btn-lg btn-success btn-block" type="submit">Reset Password</button>

	<p class="mt-5 mb-3 text-muted">Already Having account? <a href="{% url 'Auth:Login' %}">Login Now</a></p>

</form>
{% endblock %}


{% block scripts %}
<script src="{% static 'Auth/javascript/reset-password.js' %}"></script>
{% endblock %}
